body{
    font-family: 'Courier New', Courier, monospace;
    background:linear-gradient(#c8c814,#000000);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.header-top-right{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    float: left;
    overflow: hidden;
    background-color: #333;
    display: flex;
}